body {font-size: 14px;
      line-height: 26px;
      color: black;
      font-family: 'PT Sans','arial', sans-serif;
      font-weight: normal;
      margin:0;
      min-width: 768px;
      background-color: #f2f2f2;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

h1 { font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bolder;
	font-family: 'PT Sans','arial', sans-serif;
	margin-top: 60px;
    margin-bottom: 28px;
}

h2 { font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans','arial', sans-serif;
}

.logo {position: absolute;
	   left: 50%;
	   margin-left: -69px;
	   z-index: 1;
}

header.main-header {
    background-color: white;
}

.menu-item a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.menu-item a:hover {
	color: #a3c7de
}
.menu-item a:active {
	color: #b2b2b2
}

li.menu-item:nth-child(2) {
    margin-right: 20%;
}

.menu-item li {
	margin-right:20% 
}

.main-header {

	margin: 0px auto;
	min-height: 56px;
}
ul.menu-list {
    margin: 0;
    padding: 0; 
}
.container {
	width: 1200px;
	margin: 0 auto;
	background: white;
    box-shadow: 0 0 20px 2px rgba(0,1,1,.2);
	
}
.image-main {
    margin-bottom: 52px;
    background-image:url(../img/background-banner.jpg);
    height: 508px;
    background-repeat: no-repeat;
    position: relative;
}

.image-main::after {
	content: "";
	width: 1200px;
	height: 100px;
	background-image:url(../img/mask.png);
	background-repeat: no-repeat;
	display: block;
	position: absolute;
    top: 452px;

}

img.welcome {
    position: absolute;
    left: 471px;
    top: 76px;
}

img.sedona {
    position: absolute;
    left: 370px;
    top: 214px;
}
img.Grand {
    position: absolute;
    left: 451px;
    top: 348px;
}
.title {
	width: 100%;
	margin-bottom: 51px;
}

p.title-paragraph {
    text-align: center;
    margin-bottom: 51px;
}

h2.banner-heading {
    color: white;
    padding-top: 29px;
    padding-left: 70px;
    padding-right: 66px;
}

.banner-text {
	float:left;
    width:400px;
    margin-right:0px;
    background: #81b3d2;
    text-align: center;
    color: white;
    height: 256px;
    min-height: 256px;
    float: left;
    box-sizing: border-box;
    padding: 25px 49px;
}

.banner-image {
	float:left;
	width: 800px;
	height: 256px
}
.menu-item {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
    padding-top: 14px;

}

li.menu-item:nth-child(5) {
    float: right;
    width: 20%;
    list-style: none;
    text-align: center;
    padding-left: 10px;
}
li.menu-item:nth-child(4) {
    float: right;
    width: 20%;
    list-style: none;
    text-align: center;
    padding-left: 17px;
    box-sizing: border-box;
}

li {
    display: list-item;
}
h1.title-main {
    text-align: center;
    padding-right: 290px;
    padding-left: 291px;
}
.clearfix {
    display: table;
    clear: both;
    content: "";
}

.banner.clearfix {
    margin-bottom: 0;
    min-height: 257px;
}

.features.clearfix {
    margin-bottom: 58px;
    width: 100%;
    margin-top: 50px;
}
.banner-heading {
    margin: 0;
    padding: 20px 60px;
    font-size: 21px;
}

h3.banner-heading.second {
    padding-top: 31px;
    line-height: 21px;
}

p.banner-paragraph {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    line-height: 21px;
    padding-left: 2px; 
}

p.banner-paragraph.second {
    padding-left: 0;
}
.features-housing {
    float: left;
    width: 33.3%;
    padding-top: 7px;
}

h2.features-housing-heading {
    margin: 19px 3px;
}

p.features-housing-paragraph {
    padding: 4px 70px;
    line-height: 21px;
}


.features-housing-img {
    height: 84px;
}
.features-food {
    float: left;
    width: 33.3%;
    padding-top: 8px; 
    margin-bottom: 10px;
}

p.features-food-paragraph {
    padding-top: 7px;
    padding-left: 57px;
    padding-right: 53px;
    line-height: 21px;
}

.features-food-img {
    height: 84px;
}

.features-souvenirs {
    float: left;
    width: 33.3%;
    padding-top: 4px;
    padding-left: 1px;
}

.features-souvenirs-img {
    padding-bottom: 5px;
}

h2.features-souvenirs-heading {
    padding-bottom: 5px;
}

p.features-souvenirs-paragraph {
    padding: 0 40px;
    line-height: 21px;
}

.features  {
	text-align: center;
    float: left;
	width: 33.3%;
	box-sizing: border-box;
}

.features-paragraph {
    box-sizing: border-box;
    padding-top: 19px;
    padding-left: 64px;
    padding-right: 64px;
    line-height: 21px;
    margin: 0;
}

.searcher {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 55px;
}

.features-gray.clearfix {
    background-color: #eeeeee;
    padding-top: 30px;
    width: 100%;
    height: 255px;
    box-sizing: border-box;
}

a.search-button {
    background-color: #766357;
    font-size: 21px;
    color: white;
    display: inline-block;
    height: 86px;
    min-width: 568px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 30px 30px 0 33px;
}

h4.searcher-heading {
    margin: 0;
    font-size: 30px;
    line-height: 24px;
    padding-bottom: 28px;
    padding-top: 2px;
    padding-left: 13px;
}

p.searcher-paragraph {
    margin: 0;
    padding-bottom: 45px;
}


.searcher-button {
    position: absolute;
    left: 315px;
    width: 569px;
    height: 395px;
    padding-top: 54px;
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box;
    background: white;
}

.searcher-button label {
    font-weight: bold;
    padding-right: 19px;
    padding-top: 5px;
}

.searcher-button-adult {
    float: left;
    position: relative;    
}

.searcher-children-button {
	float: right;
	position: relative;
}

input#adults {
    border: none;
    background: #f2f2f2;
    height: 37px;
    width: 114px;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;
    margin-bottom: 57px;
    outline: #e5e5e5;
}

input#children {
	border: none;
    background: #f2f2f2;
    height: 35px;
    width: 115px;
    box-sizing: border-box;
    padding: 0 38px;
    position: relative;
    outline: #e5e5e5;
}

.input-date {
    border: none;
    background-color: #f2f2f2;
    height: 38px;
    width: 347px;
    outline: none; 
    font-size: 14px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 900;
    padding-left: 20px;
    color: #000000;
    position: relative;
    box-sizing: border-box;
}

.input-date:hover {
	border: 3px solid #e5e5e5;
	background-color: white;
	outline-style: #ebebeb;
}

form {
    text-align: left;
}

label {
    display: inline-block;
}

.searcher-find {
    height: 58px;
    width: 459px;
    background-color: #81b3d2;
    display: inline-block;
}
a.searcher-find-text {
    text-decoration: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    padding: 16px 197px;
}
a.searcher-find-text:hover {
	background-color: #669ec0;
}

a.searcher-find-text:active {
	background-color: #5496bd;
	opacity: 0.3;
}

.map {
    line-height: 0;
}

footer.main-footer {
    height: 120px;
    box-sizing: border-box;
    padding-top: 37px;
}
.social-btn {
	display: inline-block;
	width: 45px;
    height: 49px;
    background-color: #81b3d2;
    margin: 0 2px;
    text-align: center;
    line-height: 52px
}

.social-btn span {
	display: inline-block;
	background-image: url(../img/sprites/sprite.png);
    background-repeat: no-repeat;
}
.social-btn-t span {
    width: 17px;
    height: 16px;
    background-position: -5px -139px;
}

.social-btn-fb span {   
    width: 10px;
    height: 19px;
    background-position: -5px -112px;
}

.social-btn-utb span {
    width: 22px;
    height: 19px;
    background-position: -4px -34px;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}
.social-btn span:active {
	opacity: 0.3;
}

section.footer-social {
    float: left;
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 1px;
    margin: 0;

}

section.footer-copyright {
    float: left;
    box-sizing: border-box;
    width: 400px;
    padding-left: 104px;
    padding-top: 3px;
}

section.footer-link {
    float: left;
    width: 400px;
    padding-top: 8px;
    padding-left: 2px;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}


.website {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-right: 1px;
}

.reference {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    background-image: url(../img/academy.png);
    width: 113px;
    height: 34px;
}

.reference:hover {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    background-image: url(../img/academyHVR.png);
    width: 113px;
    height: 34px;
}

.reference:active {
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px;
    background-image: url(../img/academyACT.png);
    width: 113px;
    height: 34px;
}

/* для inner.html */ 
a {
    text-decoration: none;
    color: black;
 }

.features-heading {
    box-sizing: border-box;
    font-size: 21px;
    line-height: 21px;
    color: black;
    font-weight: bolder;
    font-family: 'PT Sans','arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 17px;
    padding-bottom: 21px;
}

.hotel-selection {
    width: 100%;
    min-height: 217px;
    background-image: url("../img/hotels/background.jpg");
    box-sizing: border-box;
    padding-top: 23px;
}
.hotel-selection-infrastructure {
    float: left;
    margin-left: 72px;
    margin-right: 16px;
    width: 240px;
}

.hotels-wrapper.clearfix {
    float: left;
    padding-right: 30px;
    padding-top: 2px;
}

.hotels-item-heading {
    float: left;
}

.raiting {
    float: right;
    margin-right: 72px;
    font-size: 17px;
    letter-spacing: -10px;
    color: #81b3d2;
    display: inline-block;
    text-align: right;
}

.item-rating {
    margin-top: 39px;
    letter-spacing: -1px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 7px;
    color: #797979;
    width: 111px;
    height: 28px;
    background: #f2f2f2;
    text-align: center;
    padding-left: 0px;
    box-sizing: border-box;
}

.hotel-selection-housing {
    float: left;
    width: 140px;
}

.hotel-selection span {
	color:white;
	font-weight: bold;
    margin-bottom: 22px;
    font-size: 16px;
    display: inline-block;
}

.hotel-selection label {
    display: block;
    position: relative;
    margin-bottom: 24px;
    padding-left: 40px;
    line-height: 21px;
    cursor: pointer;
    color: #fff;
}

.hotel-selection-infrastructure label::before {
	content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/sprites/sprite.png);
    background-position: -43px -112px;
    position: absolute;
    left: 0;
    top: 0;
}
.hotel-selection-housing label::before {
	content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/sprites/sprite.png);
    background-position: -43px -112px;
    position: absolute;
    left: 0;
    top: 0;
}
.hotel-selection-housing label::before:hover {
	background-position: -83px -112px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
  padding-right: 70px;

}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-top: 5px;
}

.price-controls {
    height: 32px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    width: 316px;
    margin-left: 10px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.price-controls label {
  position: relative;
  display: inline-block;
  font-size: 0;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 5px 31px;
  font-size: 14px;   
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.seach-result-found {
	font-size: 50px;
    font-weight: bold;
}

b  {
   font-size: 21px;
   font-weight: bold;
   padding-right: 48px;
   display: inline-block;
}

.search-result {
    margin-bottom: 15px;
    width: 100%;
}

.search-result-sorting span {
	display: inline-block;
	font-size: 12px;
	padding-right: 9px;
	font-weight: 900;
}

.search-result-sorting.clearfix {
    padding-left: 73px;
    padding-top: 17px;
    float: left;
}

.up-down-buttons {
    display: block;
    margin-right: 62px;
    margin-top: 31px;
    float: right;
}

.sprite-arrow-top {
    background-image: url(../img/sprites/sprite2.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -5px -57px;
    margin: 0;
    display: inline-block;
}

.sprite-arrow-top:hover {
	background-position: -5px -97px;
}

.sprite-arrow-top:active {
	background-position: -5px -77px;
}

.sprite-arrow-down {
    background-image: url(../img/sprites/sprite2.png);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    background-position: -5px -37px;
    margin: 0;
    display: inline-block;
}

.search-result-sorting ul {
	display: inline-block;
	padding:0;
	list-style: none;
}

.search-result-sorting li  {
    padding-left: 30px;
    display: inline-block;
}

.search-result-sorting a {
	font-size: 12px;
}
article.hotels {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    height: 120px;
    padding-top: 28px;
    padding-left: 74px;
    width: 1126px;
}

h2.heading {
    margin: 0;
    padding-bottom: 6px;
}

.hotels-item-description span {
    display: inline-block;
    margin-bottom: 12px;
    width: 112px;  
}

a.blue-btn {
    background: #81b3d2;
    color: white;
    font-weight: bold;
    width: 109px;
    height: 27px;
    display: inline-block;
    text-align: center;
    margin-right: 2px;
}
a.brown-btn {
	background: #766357;
    color: white;
    font-weight: bold;
    width: 142px;
    height: 27px;
    display: inline-block;
    text-align: center;

}
.arrival-date {
    margin-bottom: 28px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.departure-date {
    margin-bottom: 28px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.arrival-date::after {
	content: "";
	background-image: url(../img/sprites/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 428px;
    top: 8px;
}

.departure-date::after {
	content: "";
	background-image: url(../img/sprites/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 428px;
    top: 8px;
}

.sprite-calendar::after {
    width: 22px;
    height: 22px;
    background-position: -4px -5px;
}

.sprite-calendar:hover:after {
	background-position: -97px -5px;
}

.sprite-calendar:active:after {
	background-position: -51px -5px;
}

input#date2 {
    width: 349px;
    padding-left: 17px;
    box-sizing: border-box;;
}

label.date2 {
    padding-right: 15px;
}

.wrapper label {
	float:left;
	padding-right: 44px;
}

.wrapper.clearfix {
    float: left;
}

.adults-minus {    
	content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    top: 8px;
    left: 12px;
    padding: 9px 9px;
    background-image: url(../img/sprites/sprite2.png);
    background-repeat: no-repeat;
    background-position: -5px -179px;
    cursor: pointer;
    z-index: 3;
}
.adults-plus {
	content: "";
    position: absolute;
    width: 38px;
    height: 12px;
    background-position: -5px -228px;
    top: 13px;
    left: 88px;
    background-image: url(../img/sprites/sprite2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 3;
}
.children-minus {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    top: 8px;
    left: 78px;
    padding: 9px 9px;
    background-image: url(../img/sprites/sprite2.png);
    background-repeat: no-repeat;
    background-position: -5px -179px;
    cursor: pointer;
    z-index: 3;
}
.children-plus {
	content: "";
    position: absolute;
    width: 38px;
    height: 13px;
    background-position: -4px -228px;
    top: 13px;
    left: 153px;
    background-image: url(../img/sprites/sprite2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 3;
}

label.children {
    margin-right: 1px;
}

.hotel-selection input {
    display: none;
}

.search-result-sorting a {
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
    color: rgba(0,0,0,.3);
}

a.current {
    color:#a2c7de;
    border-bottom:none;
}

.search-result-sorting a:hover {
	color:#a2c7de;
}

.search-result-sorting a:active {
	color:#222222;
	border-bottom:none;
}