body {font-size: 14px;
line-height: 26px;
color: black;
font-family: 'PT Sans','arial', sans-serif;
font-weight: normal;
}
h1 { font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bolder;
	font-family: 'PT Sans','arial', sans-serif;
	 }
h2 { font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans','arial', sans-serif;
}