body {font-size: 14px;
      line-height: 26px;
      color: black;
      font-family: 'PT Sans','arial', sans-serif;
      font-weight: normal;
      margin:0;
      min-width: 768px;
}
h1 { font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bolder;
	font-family: 'PT Sans','arial', sans-serif;
	margin-top: 60px;
    margin-bottom: 28px;
	 }
h2 { font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: 'PT Sans','arial', sans-serif;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-academy {
    width: 113px;
    height: 39px;
    background-position: -5px -63px;
}

.logo {position: absolute;
	   left: 50%;
	   margin-left: -69px; 

}
.menu-item a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.menu-item a:hover {
	color: #a3c7de
}
.menu-item a:active {
	color: #b2b2b2
}

li.menu-item:nth-child(2) {
    margin-right: 20%;
}

.menu-item li {
	margin-right:20% 
}

.main-header {
	width: 1200px;
	margin: 0px auto;
	min-height: 56px;
}
ul.menu-list {
    margin: 0;
    padding: 0; 
}
.container {
	width: 1200px;
	margin: 0 auto;
	
}
.image-main {
    margin-bottom: 52px;
    background-image:url(../img/background-banner.jpg);
    height: 508px;
}

.title {
	width: 100%;
	margin-bottom: 51px;
}

p.title-paragraph {
    text-align: center;
    margin-bottom: 51px;
}

h2.banner-heading {
    color: white;
    padding-top: 29px;
    padding-left: 70px;
    padding-right: 66px;
}

.banner-text {
	float:left;
    width:400px;
    margin-right:0px;
    background: #81b3d2;
    text-align: center;
    color: white;
    height: 257px;
    min-height: 256px;
    float: left;
    box-sizing: border-box;
    padding: 25px 49px;
}

.banner-image {
	float:left;
	width: 800px;
	height: 257px
}
.menu-item {
    float: left;
    width: 20%;
    list-style: none;
    text-align: center;
    padding-top: 14px;

}

li.menu-item:nth-child(5) {
    float: right;
    width: 20%;
    list-style: none;
    text-align: center;
    padding-left: 10px;
}
li.menu-item:nth-child(4) {
    float: right;
    width: 20%;
    list-style: none;
    text-align: center;
}

li {
    display: list-item;
}
h1.title-main {
    text-align: center;
    padding-right: 290px;
    padding-left: 291px;
}
.clearfix {
    display: table;
    clear: both;
    content: "";
}

.banner.clearfix {
    margin-bottom: 0;
    min-height: 257px;
}

.features.clearfix {
    margin-bottom: 63px;
    width: 100%;
    margin-top: 50px;
}
.banner-heading {
    margin: 0;
    padding: 20px 60px;
    font-size: 21px;
}

h3.banner-heading.second {
    padding-top: 31px;
    line-height: 21px;
}

p.banner-paragraph {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    line-height: 21px;
    padding-left: 2px; 
}

p.banner-paragraph.second {
    padding-left: 0;
}
.features-housing {
    float: left;
    width: 33.3%;
    padding-top: 7px;
}

h2.features-housing-heading {
    margin: 19px 3px;
}

p.features-housing-paragraph {
    padding: 4px 70px;
    line-height: 21px;
}


.features-housing-img {
    height: 84px;
}
.features-food {
    float: left;
    width: 33.3%;
    padding-top: 8px; 
}

p.features-food-paragraph {
    padding-top: 7px;
    padding-left: 57px;
    padding-right: 53px;
    line-height: 21px;
}

.features-food-img {
    height: 84px;
}

.features-souvenirs {
    float: left;
    width: 33.3%;
    padding-top: 4px;
    padding-left: 1px;
}

.features-souvenirs-img {
    padding-bottom: 5px;
}

h2.features-souvenirs-heading {
    padding-bottom: 5px;
}

p.features-souvenirs-paragraph {
    padding: 0 40px;
    line-height: 21px;
}

.features  {
	text-align: center;
    float: left;
	width: 33.3%;
	box-sizing: border-box;
}

.features-paragraph {
    box-sizing: border-box;
    padding-top: 19px;
    padding-left: 64px;
    padding-right: 64px;
    line-height: 21px;
    margin: 0;
}

.searcher {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 55px;
}

.features-gray.clearfix {
    background-color: #eeeeee;
    padding-top: 30px;
    width: 100%;
    height: 255px;
    box-sizing: border-box;
}

a.search-button {
    background-color: #766357;
    font-size: 21px;
    color: white;
    display: inline-block;
    height: 86px;
    min-width: 568px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 30px 30px 0 33px;
}

h4.searcher-heading {
    margin: 0;
    font-size: 30px;
    line-height: 24px;
    padding-bottom: 28px;
    padding-top: 2px;
    padding-left: 13px;
}

p.searcher-paragraph {
    margin: 0;
    padding-bottom: 45px;
}


.searcher-button {
    position: absolute;
    left: 315px;
    width: 569px;
    height: 395px;
    padding-top: 54px;
    padding-left: 55px;
    padding-right: 55px;
    box-sizing: border-box;
    background: white;
}

.searcher-button label {
    font-weight: bold;
    padding-right: 19px;
    padding-bottom: 36px;
}

.input-date {
    border: none;
    background-color: #f2f2f2;
    height: 38px;
    width: 345px;
}

form {
    text-align: left;
}

label {
    display: inline-block;
}

.searcher-find {
    min-height: 58px;
    min-width: 459px;
    background-color: #81b3d2;
}
a.searcher-find-text {
    text-decoration: none;
    color: white;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    padding: 15px 195px;
}

.map {
    line-height: 0;
}

footer.main-footer {
    height: 80px;
    margin-top: 40px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
}

.social-btn {
	display: inline-block;
	width: 48px;
    height: 48px;
    background-color: #81b3d2;
    margin: 0 2px;
    text-align: center;
    line-height: 48px
}

.social-btn span {
	display: inline-block;
	background-image: url(../img/sprites/sprite.png);
    background-repeat: no-repeat;
}
.social-btn-t span {
	width: 17px;
    height: 15px;
    background-position: -5px -141px;
}

.social-btn-fb span {   
    width: 10px;
    height: 19px;
    background-position: -5px -112px;
}

.social-btn-utb span {
    width: 10px;
    height: 19px;
    background-position: -5px -112px;
}

section.footer-social {
    float: left;
    width: 33.3%;
    text-align: center;
}
section.footer-copyright {
    float: left;
    width: 33.3%;
}
section.link {
    float: left;
    width: 33.3%;
    min-height: 120px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}
/* для inner.html */ 
a {
    text-decoration: none;
    color: black;
 }

.features-heading {
    box-sizing: border-box;
    font-size: 21px;
    line-height: 21px;
    color: black;
    font-weight: bolder;
    font-family: 'PT Sans','arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding-left: 123px;
    padding-right: 119px;
    padding-top: 17px;
    padding-bottom: 21px;
}

.hotel-selection {
    width: 100%;
    min-height: 217px;
    background-image: url("../img/hotels/background.jpg");
    box-sizing: border-box;
    padding-top: 28px;
}
.hotel-selection-infrastructure {
    float: left;
    padding-left: 73px;
    padding-right: 111px;
    width: 140px;
}

.hotels-wrapper.clearfix {
    float: left;
    padding-right: 30px;
}

.hotel-selection-housing {
    float: left;
    width: 140px;
}
.hotel-selection span {
	color:white;
	font-weight: bold;
}
.hotel-selection label {
	color:white;
	line-height: 39px;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  float: right;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  position: relative;
  display: inline-block;
  font-size: 0;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.seach-result-found {
	font-size: 50px;
    font-weight: bold;
}

b  {
   font-size: 21px;
   font-weight: bold;
   padding-right: 48px;
   display: inline-block;
}

.search-result {
    margin-bottom: 15px;
}

.Search-result-sorting span {
	display: inline-block;
	font-size: 12px;
	padding-right: 9px;
}

.Search-result-sorting.clearfix {
    padding-left: 73px;
    padding-top: 17px;
}

.Search-result-sorting ul {
	display: inline-block;
	padding:0;
	list-style: none;
}

.Search-result-sorting li  {
    padding-left: 30px;
    display: inline-block;
}
.Search-result-sorting a {
	font-size: 12px;
}
article.hotels {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    height: 120px;
    padding-top: 29px;
    padding-left: 74px;
}

h2.heading {
    margin: 0;
    padding-bottom: 3px;
}